
.login-page-background {
    /* background: url(https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center; */
    background-size: cover;
    height: 150vh;

    background: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)),
        url(https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
        ;
    /* background-image: url(https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
 
    /* Set a specific height */
    /* height: 350px; */
 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}


.user-page-background {
    background-size: cover;
    height: 125vh;

    background: linear-gradient(
        rgba(255, 255, 255, 0.87), 
        rgba(255, 255, 255, 0.87)),
        url(https://images.pexels.com/photos/1058277/pexels-photo-1058277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
        ;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.title-row {
    width: 100%;
    text-align: center;
    height: 300px;
}


.Login-Title {
    font-size: 100px;
    font-family: 'Rouge Script', cursive;
    color: white;
    text-shadow: 3px 2px red;
    margin: 50px auto 50px;
    text-align: center;
    
}

.form-group {
    color: white;
    /* text-shadow: 3px 1px red; */
    font-size: 25px;
}

.btn-primary {
    background: red;
    border: red;
    margin-top: 10px;
    
}

.header-container {
    background: white;
    height: 65px;
    width: 100%;
}

.header-container-title {
    margin: 0px, auto;
}

.DK-Logo {
    margin: 15px auto;
    height: 350px
}

.swap{
    margin-left: 10px;
    background: white;
    color: red;
    border: 5px red;
}

.menuBarLogo{
    width: 125px;
    margin: 5px auto;
}

.user-field-container{
        height: 350px;
        background: white;
    }
.userMapsRow {
    height: 350px;
}

.form-group-top {
    margin-top:40px
}


.user-title-row {
    height: 250px;
    margin-top: 50px;
}

.menu-bar-row {
    width: 100%;
    background-color: white
}

.bevelBox2
{
    width: 200px;
    height: 450px;
    
    background: #ffffff;
    
    border: 1px solid #a3a3a3;    
    
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

.bevelBox1
{
    width: 200px;
    height: 450px;
    
    background: #ffffff34;
    
    border: 1px solid #a3a3a3;    
    
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

.navbar {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0; 
    width: 100%; 
    border: 0px 0px 1px solid #a3a3a3;    
    
    -moz-box-shadow: inset 0px 0px 2px rgba(255, 255, 255, .4), inset 0x 0px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 0px 0px 2px rgba(255, 255, 255, .4), inset 0px 0px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 0px 0px 2px rgba(255, 255, 255, .4), inset 0px 0px 2px rgba(0, 0, 0, .4);
}

.main {
    margin-top: 30px; 
}

.Title {
    margin-top: 75px;
    font-family: 'Tangerine', cursive;
    font-size: 100px;
    color: red;
    text-shadow: 3px 2px #a3a3a3;
    margin: 50px auto 50px;
    text-align: center;
}

.column-title{
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    color: red;
    text-shadow: 3px 2px #a3a3a3;
    text-align: center;
}
.sign-out {
    margin-top: 0px;
}

.warning {
    margin-top: 30px
}

.scroll {
    position: fixed; 
    bottom: 0%; 
    top: 0%;
    overflow-y: scroll; 
    height: 100%;
}